<%-include("./_partials/headerAdmin")-%>
<head>
    <style>
        main {
            margin-top: 0;
        }
        p {
            font-size: 1.5rem;
        }
        section {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        section a {
            text-decoration: none;
            padding: 0.4rem 1.5rem;
            border: 1px solid rgb(6, 223, 6);
            border-radius: 0.5rem;
            background-color: rgb(6, 223, 6);
            color: white;
            transition: all 0.2s ease;
            font-size: 2rem;
        }
        section a:hover {
            background-color: white;
            color: rgb(6, 223, 6);
        }
    </style>
</head>
<body>
    <main>
        <div style="width: 60%; display:flex; flex-direction:column; justify-content:center; margin:1rem auto;">
            <div style="display:flex; flex-direction: row; width: 100%; gap:2rem">
                <div style="display: flex; flex-direction: column; justify-content: center; width: 40%;">
                    <div>
                        <h1> Name: </h1>
                        <p><%= data.name %></p>
                    </div>
                    <div>
                        <h1> Price: </h1>
                        <p><%= data.toCurrency() %></p>
                    </div>
                    <div>
                        <h1> Category: </h1>
                        <p><%= data.category %></p>
                    </div>
                </div>
                <div style="width:100%">
                    <img style="width: 100%;" src="<%= data.img %>" alt="<%= data.name %>">
                </div>

            </div>
            <div>
                <h1> Last Updated: </h1>
                <p><%= dateFormatter(data.updatedAt) %></p>
            </div>
        </div>
        <section>
            <a href="/admin/item/<%= data.id %>/edit">Edit</a>
        </section>
    </main>
</body>